@media screen and (min-width: 320px) and (max-width: 719px){
  
    #principal{
      width: 100%;
      display:grid;
      grid-template-columns: auto;
      grid-template-rows: auto 3fr;
      row-gap: 1%;
      grid-template-areas: "header" "carousel" "jugando" "footer";
    }
  
    #taller{
      width: 100%;
      display:grid;
      grid-template-columns: auto;
      grid-template-rows: auto 2fr;
      row-gap: 1%;
      grid-template-areas: "header" "taller" "info" "artesanal" "footer";
  }
  
  #juegos{
    width: 100%;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows:auto 1fr;
    row-gap: 6px;
    grid-template-areas: "header" "titulojuegos" "juegos" "categoriaJuegos" "footer"
  }
  
  #deco{
    width: 100%;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto 2fr;
    row-gap: 6px;
    grid-template-areas: "header" "titulodeco" "deco" "footer";
  }
  
  #contacto{
    width: 100%;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto 5fr;
    row-gap: 6px;
    grid-template-areas: "header" "contacto" "mapa" "footer";
  }

  #categoria-juegos{
    width: 100%;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto 2fr;
    row-gap: 6px;
    grid-template-areas: "header" "categoriaJuegos" "footer";
  }
  
  /*--------------------------------------------*/

  header{
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 3px 3px rgb(0 0 0 / 5%);
}
  
  .contenedor-burguer{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: center;
  }
  
  .vr{
      display: none;
  }
  
  /*--------------------------------------------*/

.contenedor-carousel-desktop{
  display:none;
}

.contenedor-botones{
  display:none;
}

.contenedor-carousel-celu{
margin-top: 55px;
}

.ninoJugando{
  img{
    margin:0;
    margin-top: 1%;
  }
}

  /*--------------------------------------------*/

.section-info{
  display: flex;
flex-direction: row;
justify-content: space-around;
padding-top: 3%;
padding-bottom: 3%;
.craft{
  margin: 2px;
  width: 40%;
  i{
    margin-bottom: 15%;
  }
}
 .craft-2{
display:none;
 }
}


  .contenedor-taller {
    border-radius: 0px 80px 0px 80px; 
    grid-template-rows: 1.8fr 1fr;
    grid-template-columns: auto;
    width: 90%;
    margin: auto;
    margin-top: 75px;
    .contenedor-texto{
      width: 100%;
      justify-content: center;
      .texto {
        font-size: 1.3em;
        width: 100%;
        line-height: 1.5;
        margin: 2% 0% 2% 0%;
        text-align: center;        
      }  
      .hola{
        padding-right: 0%;
        margin: 3% 0% 2% 0%;
        width: 90%;
        line-height: 1.5;
        font-weight: 600;
        letter-spacing: 2.5px;
        text-align: center;
        font-size: 2em;
      }
    }
    .contenedor-imagen{
      justify-content: center;
      margin-top: 5%;
      margin-bottom: 5%;
      .cohete{
        max-width: 250px;
        height: auto;
      }
    }
  }
  
  /*--------------------------------------------*/
  
  .tituloJuegos {
    width: 80%;
    margin:auto;
    font-size: 1.5em;
  }
  
  .card-juegos{
  margin-bottom: 8px;
  }

  .tituloJuegos {
    margin-top: 5rem;
  }

  .pagCatjuegos1{
    margin-top: 15%;
  }
  
  /*--------------------------------------------*/
  
  .tituloDeco {
    width: 80%;
    margin:auto;
    font-size: 1.5em;
    margin-top: 3.2em;
  }
  
  .card-deco{
  margin-bottom: 8px;
  }
  
  .img-deco{
    padding: 2%;
    padding-bottom: 3%;
  }
  
  .card-deco{
    width: 100%;
  }
  
  
  /*--------------------------------------------*/
  
  .contacto{
    border-radius: 5px 80px 5px 80px;
    margin-left: 2%;
    margin-right: 2%;
    padding-right: 2%;
    padding-bottom: 10%;
    margin-top: 20%;
  }
  
  .contenedor-maps{
    padding-top: 2%;
    padding-right: 0%;
    h5{
      text-align: center;
    }
    .moto{
      max-width: 80%;
      padding-left: 20%;
    }
  }
  
  .maps{
    width: 100%;
    margin:auto;
  }
  
  /*--------------------------------------------*/
  
  .contenedor-footer{
    border-radius: 0px 50px 0px 50px;
    padding: 10px 30px 20px 40px;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    grid-template-areas: "puzzle" "texto1" "texto2" "derechos";
    row-gap: 5px;
    position: fixed;
    bottom: 0px;
  }
  
  .contenedorPuzzle {
     text-align: center;
   }
   
   .contenedorDatos {
    text-align: left;
    width: 100%;
    margin: auto;
   }
   
   .contenedorInfo {
    text-align: left;
    width: 100%;
    margin: auto;
   }
   
   .copyright{
      text-align:center;
   }
  }
  