/* ------------------------------------------- VARS -------------------------------------------*/
/*Colores*/ /* ----------- Estilos Generales ----------- */
* {
  Margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(68, 68, 68);
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

header {
  grid-area: header;
}

.buttons {
  grid-area: buttons;
}

.contenedor-carousel {
  grid-area: carousel;
}

.contenedor-botones {
  grid-area: botones;
}

footer {
  grid-area: footer;
}

.contenedor-titulo-juegos {
  grid-area: titulojuegos;
}

.contenedor-titulo-deco {
  grid-area: titulodeco;
}

/* ----------- NAV ----------- */
/*
header{
position: fixed;
z-index: 100;
}

section{
  padding-top: 70px;
}*/
.logo {
  width: 65px;
}

li {
  display: inline-block;
}
li ul {
  position: absolute;
  display: none;
}
li ul li {
  display: block;
}

ul li:hover ul {
  display: block;
}

#active:hover {
  color: #313131;
}

.navbar {
  background: rgb(222, 222, 222);
  background: linear-gradient(0deg, rgb(222, 222, 222) 0%, rgb(242, 242, 242) 100%);
}

.dropdown-menu {
  background-color: rgb(233, 233, 233);
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #333333;
  font-size: 1em;
  text-decoration: none;
}
.nav-link:hover {
  background-color: #Ec686c;
  opacity: 75%;
}

.icono {
  color: #Ec686c;
  font-size: 1.5em;
}
.icono:hover {
  color: #333333;
}

#active {
  color: #Ec686c;
}

.menu {
  justify-content: end;
}

.justify-content-end {
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  margin-left: 5px;
  margin-right: 5px;
}

/* ----------- FOOTER ----------- */
.contenedor-footer {
  color: white;
  background: rgb(27, 95, 126);
  background: linear-gradient(0deg, rgb(27, 95, 126) 0%, rgb(34, 118, 157) 100%);
  font-family: "Montserrat", sans-serif;
  padding: 20px 40px 40px 50px;
  border-radius: 0px 100px 0px 100px;
  font-size: 1em;
  display: grid;
}

.contenedorPuzzle {
  color: #09ccda;
  grid-template-areas: puzzle;
  font-size: 3em;
}

.puzzle {
  text-align: center;
}

.contenedorDatos {
  width: 80%;
  grid-area: texto1;
}

.contenedorInfo {
  width: 80%;
  grid-area: texto2;
}

.copyright {
  grid-area: derechos;
  text-align: end;
}

/* ----------- html home ----------- */
.btn {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6588235294);
  color: #054b6b;
}

.caption {
  color: #22769D;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-color: rgba(255, 255, 255, 0.6588235294);
}

.caption-celu {
  color: #22769D;
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-color: rgba(255, 255, 255, 0.6588235294);
}

.carousel {
  max-width: 900px;
  height: auto;
  margin: auto;
}

/* ----------- html taller ----------- */
.contenedor-taller {
  background-color: #ffcb77;
  border-radius: 0px 120px 0px 120px;
  display: grid;
}

.contenedor-texto {
  display: flex;
  flex-direction: column;
}

.contenedor-imagen {
  display: flex;
  align-items: center;
  margin: auto;
  text-align: center;
}

.texto {
  text-align: left;
  width: auto;
}

.hola {
  color: #22769D;
  font-family: "Manrope", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

.cohete {
  border-radius: 8px;
}

.section-info {
  background-color: #22769D;
  color: #333333;
  padding-top: 35px;
  padding-bottom: 35px;
  display: block;
  grid-area: info;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.craft {
  border-top: 0px;
  border-bottom: 0px;
  text-align: center;
  line-height: 1.5;
  align-items: center;
  color: white;
  width: 30%;
  margin: 5px;
}

.craft-2 {
  border-style: solid;
  border-color: #054b6b;
}

/* ----------- html JUEGOS----------- */
.filtros {
  filter: grayscale(100%);
  transition: 0, 5s;
}
.filtros:hover {
  filter: none;
}

.card-juegos {
  background-color: #Ec686c;
  opacity: 90%;
  border-radius: 50px 2px 50px 2px;
  width: 100%;
}
.card-juegos:hover {
  border: solid 4px #e74c51;
  background-color: #e74c51;
}

.img-juegos {
  padding: 10%;
  padding-bottom: 3%;
  border-radius: 10%;
}

.card-title {
  color: #FFFFFF;
  font-family: "Manrope", sans-serif;
  text-align: center;
  font-weight: 800;
  font-size: 2em;
  padding-bottom: 5%;
}

.card-text-juegos {
  color: #FFFFFF;
  font-family: "Manrope", sans-serif;
  text-align: center;
  font-size: 1.3em;
}

.btn {
  font-size: 1em;
}

.tituloJuegos, .tituloDeco {
  background-color: #22769D;
  opacity: 60%;
  color: #FEF9EF;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
}

/* ----------- html CATEGORIA-JUEGOS ----------- */
section {
  grid-area: juegos;
}

.lista-beneficios {
  line-height: 1.9;
}

.lista-beneficios, .card-text {
  font-family: "Montserrat", sans-serif;
  color: rgb(22, 22, 22);
}

.lista-beneficios, .card-text, .card-title-categoria {
  margin-right: 4%;
  margin-left: 4%;
}

.titulo1 {
  color: #313131;
  font-family: "Manrope", sans-serif;
  font-size: 1.4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.card-title-categoria {
  color: #313131;
  font-family: "Manrope", sans-serif;
  font-size: 2.5rem;
  padding-bottom: 2%;
}

.card1 {
  margin: auto;
  border-color: white;
}

.edad {
  text-align: center;
  background-color: #e4e4e4;
  color: #313131;
}

.c2 {
  padding-bottom: 5%;
}

/* ----------- html DECO ----------- */
.tituloDeco {
  background-color: #ffcb77;
  opacity: 60%;
  color: #333333;
  padding: 1%;
}

.card-deco {
  background-color: #ffcb77;
  opacity: 90%;
  border-radius: 2px 50px 2px 50px;
  width: 90%;
  border: none;
}
.card-deco:hover {
  border: solid 4px #fcbf5e;
  background-color: #fcbf5e;
}

.img-deco {
  border-radius: 2%;
}

/* ----------- html Contacto ----------- */
.contacto {
  grid-area: contacto;
  background-color: #09ccda;
  padding: 2% 0% 2% 5%;
  border-radius: 5px 120px 5px 120px;
  margin-left: 10%;
  box-shadow: 10px 10px 10px grey;
}

.contenedor-maps {
  grid-area: mapa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 15%;
}

.gratis {
  color: #044969;
}

.info {
  color: #084d6d;
}

/* ----------------------------------------- Estilos Mobile -----------------------------------------*/
@media screen and (orientation: portrait) {
  .contenedor-carousel-desktop {
    display: none;
  }
}
@media screen and (orientation: landscape) {
  .contenedor-carousel-celu {
    display: none;
  }
}
/* ------------------------------------------ IMPORT ------------------------------------------*/
@media screen and (min-width: 320px) and (max-width: 719px) {
  #principal {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.3fr auto 2fr;
    row-gap: 5px;
    grid-template-areas: "header" "home" "footer";
  }
  #taller {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.3fr auto 2fr;
    row-gap: 6px;
    grid-template-areas: "header" "taller" "info" "footer";
  }
  #juegos {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.3fr 0.3fr auto 2fr;
    row-gap: 6px;
    grid-template-areas: "header" "titulojuegos" "juegos" "footer";
  }
  #deco {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.3fr 0.3fr auto 2fr;
    row-gap: 6px;
    grid-template-areas: "header" "titulodeco" "deco" "footer";
  }
  #contacto {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.3fr auto auto 2fr;
    row-gap: 6px;
    grid-template-areas: "header" "contacto" "mapa" "footer";
  }
  /*--------------------------------------------*/
  .contenedor-burguer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
  }
  .vr {
    display: none;
  }
  /*--------------------------------------------*/
  .contenedor-taller {
    border-radius: 0px 80px 0px 80px;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: auto;
    width: 90%;
    margin: auto;
  }
  .contenedor-texto {
    width: 100%;
    justify-content: space-between;
  }
  .texto {
    font-size: 1.3em;
    width: 100%;
    line-height: 1.5;
    margin: 2% 0% 2% 0%;
  }
  .hola {
    padding-right: 0%;
    margin: 3% 0% 2% 0%;
    width: 80%;
    line-height: 1.5;
  }
  .contenedor-imagen {
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .cohete {
    max-width: 250px;
    height: auto;
  }
  /*--------------------------------------------*/
  .tituloJuegos, .tituloDeco {
    width: 80%;
    margin: auto;
    font-size: 1.5em;
  }
  .card-juegos {
    margin-bottom: 8px;
  }
  /*--------------------------------------------*/
  .tituloDeco {
    width: 80%;
    margin: auto;
    font-size: 1.5em;
  }
  .card-deco {
    margin-bottom: 8px;
  }
  .img-deco {
    padding: 2%;
    padding-bottom: 3%;
  }
  .card-deco {
    width: 100%;
  }
  /*--------------------------------------------*/
  .contacto {
    border-radius: 5px 80px 5px 80px;
    margin-left: 2%;
    margin-right: 2%;
    padding-right: 2%;
    padding-bottom: 10%;
  }
  .contenedor-maps {
    padding-top: 2%;
    padding-right: 0%;
  }
  .maps {
    width: 100%;
    margin: auto;
  }
  /*--------------------------------------------*/
  .contenedor-footer {
    border-radius: 0px 50px 0px 50px;
    padding: 10px 30px 20px 40px;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    grid-template-areas: "puzzle" "texto1" "texto2" "derechos";
    row-gap: 5px;
  }
  .contenedorPuzzle {
    text-align: center;
  }
  .contenedorDatos {
    text-align: left;
    width: 100%;
    margin: auto;
  }
  .contenedorInfo {
    text-align: left;
    width: 100%;
    margin: auto;
  }
  .copyright {
    text-align: center;
  }
}
@media screen and (min-width: 720px) {
  #principal {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr auto 2fr;
    row-gap: 2%;
    grid-template-areas: "header" "botones" "carousel" "footer";
  }
  #taller {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto 2fr;
    row-gap: 2%;
    grid-template-areas: "header" "taller" "info" "footer";
  }
  #juegos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr auto 2fr;
    row-gap: 2%;
    grid-template-areas: "header" "titulojuegos" "juegos" "footer";
  }
  #deco {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr auto 2fr;
    row-gap: 2%;
    grid-template-areas: "header" "titulodeco" "deco" "footer";
  }
  #contacto {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr auto 2fr;
    row-gap: 2%;
    -moz-column-gap: 5%;
         column-gap: 5%;
    grid-template-areas: "header header" "contacto mapa" "footer footer";
  }
  #categoria-juegos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 2fr;
    row-gap: 1%;
    grid-template-areas: "header" "juegos" "footer";
  }
  /*--------------------------------------------*/
  ul {
    display: flex;
    justify-content: end;
  }
  .navbar-nav {
    display: flex;
    padding-left: 100%;
    align-items: center;
  }
  /*--------------------------------------------*/
  .contenedor-taller {
    border-radius: 0px 120px 0px 120px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 75%;
    margin: auto;
  }
  .contenedor-texto {
    width: 100%;
    justify-content: center;
    height: 500px;
    align-items: baseline;
  }
  .texto {
    font-size: 1.3em;
    width: 100%;
    line-height: 1.5;
    margin: 3% 0% 3% 8%;
  }
  .hola {
    padding-right: 0%;
    margin: 3% 0% 3% 8%;
  }
  .cohete {
    max-width: 350px;
    height: auto;
  }
  /*--------------------------------------------*/
  .tituloJuegos, .tituloDeco {
    width: 50%;
    margin: auto;
    font-size: 2em;
  }
  .card-deco {
    margin-bottom: 0px;
  }
  /*--------------------------------------------*/
  .tituloDeco {
    width: 50%;
    margin: auto;
    font-size: 2em;
  }
  .card-deco {
    margin-bottom: 8px;
  }
  .img-deco {
    padding: 0%;
    padding-bottom: 2%;
  }
  .card-deco {
    width: 90%;
  }
  /*--------------------------------------------*/
  .contacto {
    padding-bottom: 2%;
  }
  .contenedor-maps {
    padding-top: 15%;
    padding-right: 15%;
  }
  .maps {
    margin: 0%;
  }
  /*--------------------------------------------*/
  .contenedor-footer {
    border-radius: 0px 90px 0px 90px;
    padding: 10px 30px 10px 40px;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "puzzle texto1 texto2" "derechos derechos derechos";
  }
  .contenedorPuzzle {
    text-align: center;
    margin-top: 10px;
  }
  .contenedorDatos {
    margin-top: 20px;
  }
  .contenedorInfo {
    margin-top: 20px;
  }
  .copyright {
    text-align: center;
    width: 100%;
  }
}
/*---------------------------------------- MAPS ----------------------------------------*/
/* -------------------------------------- MAP GET --------------------------------------*/
.jg {
  border-color: #Ec686c;
}

/* ------------------------------------ BUCLE EACH ------------------------------------*/
.jg {
  border-color: #Ec686c;
}

.dc {
  border-color: #fcbf5e;
}

/*---------------------------------------- MIXIN SIN PARAMETROS---------------------------------------*/
.caption {
  text-transform: uppercase;
}

/*---------------------------------------- MIXIN CON PARAMETROS---------------------------------------*/
.card-deco .card-juegos {
  box-shadow: 5px 5px 10px;
  box-shadow: grey;
}/*# sourceMappingURL=style.css.map */