@import "variables";

/* ----------- Estilos Generales ----------- */

*{
    Margin:0;
    padding:0;
 }

 a {
  text-decoration: none;
  color:rgb(68, 68, 68) ;
}

ul {
  list-style-type: none;
}
 
li {
  list-style-type: none;
 }
  
header{
  grid-area: header;
  width: 100%;
}

.buttons{
  grid-area: buttons;
}

.contenedor-carousel{
  grid-area: carousel;
 }

.contenedor-botones{
  grid-area: botones;
}

footer{
  grid-area: footer;
}

.contenedor-titulo-juegos{
  grid-area: titulojuegos;
}

.contenedor-titulo-deco{
  grid-area: titulodeco;
}

#pagJuegos{
  grid-area:juegos;
}

#pagCatJuegos{
  grid-area: categoriaJuegos;
}

/* ----------- NAV ----------- */

li {
    display: inline-block;
  ul {
    position: absolute;
    display: none;
    li {
        display: block;
     }
  }
}
 
 ul li:hover ul {
    display:block;
 }

#active:hover{
  color: $colorLetra;
}

 .navbar{
    background: rgb(222,222,222);
    background: linear-gradient(0deg, rgba(222,222,222,1) 0%, rgba(242,242,242,1) 100%);
  }

.logo{
  z-index: 1000;
  padding-top: none;
  position:relative;
  width: 55px;
  height: auto;
}

 .dropdown-menu{
  background-color: rgba(233, 233, 233);
 }

.nav-link{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #333333;
  font-size: 1em;
  text-decoration: none;
    &:hover{
    background-color: $colorPrincipal;
    opacity: 75%;
    }
}

 .icono{
   color: $colorPrincipal;
   font-size: 1.5em;
   &:hover{
    color:#333333
   }
 }

 #active {
    color: $colorPrincipal;
 }

.menu{
  justify-content: end;
}


.justify-content-end{
  display: flex;
  justify-content: flex-end;
}

.nav-link{
    margin-left: 5px;
    margin-right: 5px;
}

/* ----------- FOOTER ----------- */



.contenedor-footer {
  color: white;
  background: rgb(27,95,126);
  background: linear-gradient(0deg, rgba(27,95,126,1) 0%, rgba(34,118,157,1) 100%);
  font-family: 'Montserrat', sans-serif;
  padding: 20px 40px 40px 50px;
  border-radius: 0px 100px 0px 100px;
  font-size: 1em;
  display: grid;
}

.contenedorPuzzle {
 color: #09ccda;
 grid-template-areas: puzzle;
 font-size: 3em; 
 }

.puzzle {
  text-align: center;
}

.contenedorDatos {
  width: 80%;
  grid-area: texto1;
}

.contenedorInfo {
  width: 80%;
  grid-area: texto2;
}

.copyright{
   grid-area: derechos;
   text-align:end
}

/* ----------- html home ----------- */
.btn{
  text-align: center;
  background-color: #ffffffa8; 
  color:#054b6b;
}

 .caption{
  color: $colorSecundario;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffffa8; 
 }

 .caption-celu{
  color: $colorSecundario;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffffa8; 
}

.carousel{
  max-width: 900px;
  height: auto;
  margin:auto;
 }

.cardJugando{
  grid-area: jugando;
}

 .ninoJugando{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
    h5{
      color:$colorLetra;
      opacity: 80%;
      padding-bottom: 2%;
      font-size: 1.5em;
    }
   p{
    line-height: 2;
    text-align:justify;
    margin-top: 2%;
    margin-bottom: 2%;
   }
   img{
    margin: 5%;
   }
 }




/* ----------- html taller ----------- */

.contenedor-taller {
  background-color: #ffcb77;
  border-radius: 0px 120px 0px 120px; 
  display:grid;
}

.contenedor-texto{
   display: flex;
   flex-direction: column;
}

.contenedor-imagen {
  display: flex;
  align-items: center;
  margin: auto;
  text-align: center;
}

.texto {
  text-align: left;
  width: auto;
  font-weight: 400;
}

.hola {
  color: $colorSecundario;
  font-family: 'Manrope', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

.cohete {
  border-radius: 8px;
}

.section-info{
    background-color: $colorSecundario;
    color:#333333;
    display:block;
    grid-area: info;
}

.craft{
 border-top: 0px;
 border-bottom: 0px;
 text-align: center;
 line-height: 1.5;
 align-items: center;
 color:white;   
}

.craft-2{
 border-style: solid; 
 border-color:#054b6b;
}

.trabajo-artesanal{
  grid-area:artesanal;
  margin-left: auto;
  margin-right: auto;
  h5{
    color:$colorLetra;
  }
   video{
    max-width: 100%;
    margin: auto;
   }
}

/* ----------- html JUEGOS----------- */   

.filtros{
  filter: grayscale(30%);
  transition: 0,5s;
  &:hover{
      filter:none;
  }
}

.card-juegos{
  background-color: $colorPrincipal;
  opacity: 90%;
  border-radius: 50px 2px 50px 2px;
  width: 100%;
  &:hover{
    border:solid 4px #e74c51;
    background-color: #e74c51;
  }
}

.img-juegos{
padding: 10%;
padding-bottom: 3%;
border-radius: 10%;
}

.card-title{
  color:#FFFFFF;
  font-family: 'Manrope', sans-serif;
  text-align: center;
  font-weight: 800;
  font-size: 2em;
  padding-bottom: 5%;
}

.card-text-juegos{
  color:#FFFFFF;
  font-family: 'Manrope', sans-serif;
  text-align: center;
  font-size: 1.3em;
}

.btn{
 font-size: 1em;
}

.tituloJuegos {
  background-color: $colorSecundario;
  opacity: 60%;
  color: #FEF9EF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-align :center;
  border-radius: 5px;
}

div .arrow {
  margin:auto;
  font-size: 3em;
  position: relative;
  &:hover{
    font-size: 3.5em;
  }
}

/* ----------- html CATEGORIA-JUEGOS ----------- */

.lista-beneficios{
  line-height: 1.9;
}

.lista-beneficios, .card-text{
  font-family: 'Montserrat', sans-serif;
  color:rgb(22, 22, 22);  
}

.lista-beneficios, .card-text, .card-title-categoria{
  margin-right: 4%;
  margin-left: 4%;
}

.titulo1{
  color: $colorLetra;
  font-family: 'Manrope', sans-serif;
  font-size: 1.4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.card-title-categoria{
  color: $colorLetra;
  font-family: 'Manrope', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 2%;
}

.card1{
  margin: auto;
  border-color: white;
}

.edad{
  text-align: center;
  background-color: #e4e4e4;
  color: $colorLetra;
}

.c2{
  padding-bottom: 5%;
}



  /* ----------- html DECO ----------- */

.tituloDeco{
  @extend .tituloJuegos;
  background-color: #ffcb77;
  opacity: 60%;
  color: #333333;
  padding: 1%;
}

.card-deco{
  background-color: #ffcb77;
  opacity: 90%;
  border-radius: 2px 50px 2px 50px;
  width: 90%;
  border: none;
  &:hover{
    border:solid 4px #fcbf5e;
    background-color: #fcbf5e;
  }
}

.img-deco{
  border-radius: 2%;
}

  /* ----------- html Contacto ----------- */

.contacto{
  grid-area: contacto;
  background-color: #09ccda;
  padding: 2% 0% 2% 5%; 
  border-radius: 5px 120px 5px 120px;
  margin-left: 10%;
  box-shadow: 10px 10px 10px grey;
}

.contenedor-maps{
  grid-area: mapa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 15%;
}

.gratis{
 color: #044969;
}

.info{
 color: #084d6d;
}

 /* ----------------------------------------- Estilos Mobile -----------------------------------------*/
 
 @media screen and (orientation:portrait){
    .contenedor-carousel-desktop{
      display: none;
    }
   }
  
  @media screen and (orientation:landscape){
    .contenedor-carousel-celu{
      display:none;
    }
  }

/* ------------------------------------------ IMPORT ------------------------------------------*/

  @import "mobile";

  @import "desktop";
  


/*---------------------------------------- MAPS ----------------------------------------*/

$mapaColoresProductos: (jg: #Ec686c, dc:#fcbf5e);

/* -------------------------------------- MAP GET --------------------------------------*/ 

.jg{
  border-color: map-get($mapaColoresProductos, jg);
}


/* ------------------------------------ BUCLE EACH ------------------------------------*/ 

@each $product, $color in $mapaColoresProductos {
  .#{$product}{
      border-color: $color;
}
}

/*---------------------------------------- MIXIN SIN PARAMETROS---------------------------------------*/

@mixin  mayuscula {
  text-transform: uppercase;
}

.caption{
  @include mayuscula;
}

/*---------------------------------------- MIXIN CON PARAMETROS---------------------------------------*/


@mixin border-shadow ($style, $color){
  box-shadow: $style;
  box-shadow: $color;

}

.card-deco .card-juegos{
  @include border-shadow(5px 5px 10px, grey)
}